.contact{
    background-image: linear-gradient(to bottom, rgb(2, 3, 20), rgb(2, 3, 18), rgb(2, 2, 16), rgb(1, 2, 15), rgb(1, 2, 13), rgb(1, 2, 11), rgb(1, 1, 9), rgb(1, 1, 7), rgb(1, 1, 5), rgb(0, 1, 4), rgb(0, 0, 2), rgb(0, 0, 0));
    padding: 40px;
    box-shadow: inset 0px 20px  20px 10px rgb(15,30,41);
    font-size: 35px;

}
.contact_container{
    font-size: 25px;
    display: flex;
    margin: 0 auto;
    padding: 40px;
    width: 80%;
    border: 1px solid white;
    justify-content: space-around;
    flex-wrap: wrap;
    color:white;
}
.communication{
    color: white;
    border: 1px solid;
}

.communication_table{
    padding: 5px;
    margin:  0 auto;
    width: 270px;

}

.thoughts{
    max-width: 800px;
    font-style: italic;
    border: 1px solid dodgerblue;
    padding: 5px;
}
form{
    margin:  0 auto;
}
input{
    padding: 10px;
    margin: 5px;
    width: 240px;
}
textarea{
    padding: 10px;
    margin: 5px;
    width: 240px;
    height: 50px;
    font-size: 18px;
}

@media screen and (min-width:767px ){
    .communication_table{
        padding: 5px;
        margin:  0 auto;
        width: 370px;

    }
    form{
        margin:  0 auto;
    }
    input{
        padding: 10px;
        margin: 5px;
        width: 340px;
    }
    textarea{
        padding: 10px;
        margin: 5px;
        width: 340px;
        height: 50px;
        font-size: 18px;
    }
}