@import "./../components/AllColor/AllColor";
.works{
    background-color: $BgLastColor;
    font-size: 20px;
    letter-spacing: 1px;
    margin:0;
    box-shadow: 0 0 20px 0px $ColorTitle;
    @media screen and (min-width: 700px){
        font-size: 30px;

    }

    .works_Title{
        font-size: 30px;
        padding-top: 30px;
    }

    .box_works{
        display: flex;
        justify-content: space-around;
        margin:  auto;
        width: 80%;
        /*border: 1px solid white;*/
        flex-wrap: wrap;
        text-align: center;
        padding: 40px;
        padding-top: 0;
        @media screen and (min-width: 350px){
            padding-bottom: 40px;

        }
        @media screen and (min-width: 700px){
            padding-bottom: 80px;

        }
        @media screen and (min-width: 1000px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0 auto;
        }
        @media screen and (min-width: 1400px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: start;
            justify-items:center;
        }

    }
}



.box_skills_table{
    margin: 30px;
}

