.works{
    background-color: #060f18;
    font-size: 30px;
    margin:0px;
    box-shadow: 0 0 20px 0px #386a82;
}
.works_Title{
    font-size: 30px;
    padding: 40px;
}
/*.works_Title::before {
    content:'';
    position: absolute;
    margin: 0 0 30px;
    width: 80px;
    height:4px;
    bottom:-180px;
    border-radius: 2px;
    background-color: #79fefd;
    left:50%;
    transform: translate(-50%,50%);
}*/
.box_skills_table{
    margin: 30px;
}
.box_works{
    display: flex;
    justify-content: space-around;
    margin:  auto;
    width: 80%;
    /*border: 1px solid white;*/
    flex-wrap: wrap;
    text-align: center;
    padding: 40px;



}
.work{
    display: flex;
    flex-direction: column;
    font-family: Teko,Arial,Helvetica,sans-serif;
    /*border: 1px solid aquamarine;*/
    border-radius: 5px;
    color: #386a82;
    padding: 60px;
    width: 500px;
    box-shadow: inset 0px 0px 20px 20px rgb(15,30,41);
}