@font-face {
  font-family: Teko;
  src: url("../../Fonts/Teko.ttf") format("truetype");
}
.input_wrapper {
  width: 500px;
  margin: 50px auto;
  position: relative;
  color:#f0fbfe;
  @media screen and (min-width: 350px) {
    width: 270px;
    margin: 0px auto;
    font-size: 1rem;
  }
  @media screen and (min-width: 700px) {
    width: 570px;
    margin: 0px auto;
    font-size: 1rem;
  }
  .input_wrapper::after {
    content: attr(data_text);
    font-size: 1.5rem;
    line-height: 0;
    height: 0;
    max-width: 100%;
    font-family: Teko,Arial,Helvetica,sans-serif;
    border-bottom: 3px solid #f0fbfe;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    overflow: hidden;
    user-select: none;
    color: transparent;
    @media screen and (min-width: 350px) {
      font-size: 20px;
    }
  }
}

input {
  color: #ddd;
  border: none;
  padding: 0;
  padding-top: 20px;
  border-radius: 0;
  outline: none;
  width: auto;
  min-width: 100%;
  font-size: 1.5rem;
  line-height: 3em;
  font-family: Teko,Arial,Helvetica,sans-serif;
  letter-spacing: 2px;
  border-bottom: 3px solid #386a82;
  background-color: transparent;
  @media screen and (min-width: 350px) {
    width: 270px;
    margin: 0px auto;
    font-size: 1rem;
  }
  @media screen and (min-width: 700px) {

    width: 400px;
    margin: 0px auto;
    font-size: 1.2rem;
  }
  @media screen and (min-width: 1000px) {

    width: 350px;
    margin: 0px auto;
    font-size: 1.2rem;
  }
}