$ColorFaceName: #78ffff;
$BgFirstColor: #05080d;
$BgLastColor: #060f18;

$BgTableColor: #06090f;
$ColorTitle:#386a82;
$ColorTitleTable:#386a82;
$ColorText:#386a82;
$ColorShadow: #386a82;

$ColorInputWrapper: #f0fbfe;
$ColorInput: #ddd;

$ColorTitleBefore:#79fefd;

$ColorGreatSayings: red;
$ColorGreatSayingsMessage: white;

$ColorAutograph:#7ca5b1;

$BgFooterColor: #000000;

$boxShadow:15,30,41;
$BgImageContact: linear-gradient(to bottom, rgb(2, 3, 20), rgb(2, 3, 18), rgb(2, 2, 16), rgb(1, 2, 15), rgb(1, 2, 13), rgb(1, 2, 11), rgb(1, 1, 9), rgb(1, 1, 7), rgb(1, 1, 5), rgb(0, 1, 4), rgb(0, 0, 2), rgb(0, 0, 0));
