@import '../AllColor/AllColor';
@font-face {
    font-family: VerminVibes2soft;
    src: url("../../Fonts/VerminVibes2soft.otf") format("truetype");
}
@font-face {
    font-family: Coalition;
    src: url("../../Fonts/Coalition.ttf") format("truetype");
}
.title_container{
    display: flex;
    justify-content: center;

    .title {
        font-family: VerminVibes2soft;
        letter-spacing: 2px;
        padding:20px;
        color:$ColorFaceName;
        justify-content: center;
        text-shadow: 0 0 15px whitesmoke ;
        transition: 1s;
        @media screen and(min-width: 350px){
            font-size: 26px;
        }
        @media screen and(min-width: 700px){
            font-size: 35px;
        }
        @media screen and(min-width: 1350px){
            font-size: 40px;
        }
        @media screen and(min-width: 2400px) {
            font-size: 50px;
        }
        @media screen and(min-width: 3400px) {
            font-size: 60px;
        }

        }
    }
    .title:hover{
        text-shadow: 0 0 15px whitesmoke,0 0 15px whitesmoke , 0 0 15px whitesmoke ;; ;
    }
    .title::before {
        content:'';
        position: absolute;
        margin: 0 0 30px;
        width: 80px;
        height:4px;
        bottom:-140px;
        border-radius: 2px;
        background-color: $ColorTitleBefore;
        left:50%;
        transform: translate(-50%,50%);
        @media screen and(min-width: 350px){
            bottom:-110px;
    }
}



