.box_skills{
    background-color: #05080d;
    flex-wrap: wrap;
    min-height: 80vh;
    box-shadow: inset 0px 20px 20px rgb(15,30,41);
}
.box_skills_container{
    font-size: 30px;
    padding: 40px;
   /* border: 2px solid olive;*/
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;

}
.box_skills_table{
    font-size: 15px;
    display: flex;

    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;




}
.table_table{
    background-color:#06090f;
    width: 400px;
    /*border: 2px solid #060a15;*/
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 0 20px 0px #386a82;
    margin-top: 40px;
    margin-bottom: 40px;

}
.table_table_Title {
    font-size: 24px;
}
.table_table_message{
    font-size: 20px;
    font-family: Teko,Arial,Helvetica,sans-serif;
    letter-spacing:1px;
    color: #386a82;
    font-weight: 600;
}
img{
    padding-top: 20px;
}
@media screen and (min-width: 2150px){
    .table_table{
        width: 400px;
        border: 2px solid white;
        padding: 5px;
        margin: 50px;

    }
}