@import "./../components/AllColor/AllColor";
.header {
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 2400px){
        height:100px;
        margin:0px;
        padding: 10px;
    }
    @media screen and (max-width: 1400px){
        height:40px;
        margin:0px;
        padding: 10px;
    }
    @media screen and (max-width: 850px){
        height:30px;
        margin:0px;
        padding: 5px;
    }
    @media screen and (max-width: 600px){
        height:20px;
        margin:0px;
        padding: 5px;
    }
    @media screen and (max-width: 450px){
        height:80px;
        margin:0px;
        padding: 5px;
    }

    .header_box{
        display: flex;
        margin: 10px;
        border: 1px solid white;
        .menu{
            padding: 10px;
        }
    }
    .header_box a{
        color:white;
        font-weight: 600;
    }
}
.stopProppagation{
    height: 100vh;

}

.header{
    width: 150px;
    margin: 20px;
    font-size: 20px;
    text-shadow: 0 0 35px black;
    color: #386a82;
    font-weight: 600;
    transition: 1s;
    @media screen and (min-width: 2400px){
        width: 250px;
    }
    @media screen and (min-width: 3400px){
        width: 400px;
    }
}
.active{
    color:$ColorFaceName;
}

.header:hover{
    text-shadow:
            0 0 15px $ColorFaceName,0 0 15px $ColorFaceName,
            0 0 15px $ColorFaceName ,0 0 15px $ColorFaceName;
}

.active:hover{
    text-shadow: 0 0 15px black,0 0 15px black,
    0 0 15px black ,0 0 15px black;
}

.menu_list{
    display: flex;
    margin-top:50px;
    align-items: center;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    @media screen and (max-width: 850px){
        margin:5px;
        padding: 5px;
    }
}

.menu_list a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    @media screen and (min-width: 2400px){
        font-size: 35px;
    }
    @media screen and (min-width: 3400px){
        font-size: 45px;
    }
}
.menu{
    position: fixed;
    left: 0;
    top:0;
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 1;
    transition: 0.5s;
    transform: translateX(-104%);
    box-shadow:  0 0 10px maroon;



    @media screen and (max-width: 850px){
        transform: translateX(-112%);
    }

}


.menu_active{
    position: fixed;
    left: 0;
    top:0;
    width: 20%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    opacity: 0.6;
    transition: 0.5s;
    transform:translateX(0%);
    box-shadow:  0 0 10px white;

    @media screen and (max-width: 850px){
        width: 100%;
        opacity: 0.8;
    }
}

.menu_btm{
    opacity: 0.6;
    border: 2px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color:rgba(0,0,0,0);
    position: absolute;
    right: -120px;
    top:10px;
    margin: 20px;
    box-shadow:0 0 10px white;
    transition: 0.5s;
    @media screen and (min-width: 2400px){
        width: 80px;
        height: 80px;
        right: -140px;
        box-shadow:0 0 20px white,0 0 20px white;
    }
    @media screen and (min-width: 3400px){
        width: 120px;
        height: 120px;
        right: -200px;
        box-shadow:0 0 20px white,0 0 20px white,0 0 20px white,0 0 20px white;
    }
}
.menu_btm:hover{
    background-color:rgba(0,0,0,0) ;
    box-shadow:
            0 0 10px $ColorFaceName,0 0 10px $ColorFaceName,
        inset 0 0 10px $ColorFaceName,inset 0 0 10px $ColorFaceName;
    @media screen and (min-width: 2400px){
        box-shadow:
                0 0 20px $ColorFaceName,0 0 20px $ColorFaceName,
                inset 0 0 20px $ColorFaceName,inset 0 0 20px $ColorFaceName;
    }
    @media screen and (min-width: 3400px){
        box-shadow:
                0 0 30px $ColorFaceName,0 0 30px $ColorFaceName,
                inset 0 0 30px $ColorFaceName,inset 0 0 30px $ColorFaceName;
    }


}
.menu_btm:active{
    border: 2px solid $ColorFaceName;
    box-shadow:
            0 0 10px $ColorFaceName,0 0 10px $ColorFaceName,
            inset 0 0 10px $ColorFaceName,inset 0 0 10px $ColorFaceName,
            0 0 15px white,0 0 15px white,
            inset 0 0 15px white, inset 0 0 15px white;
    @media screen and (min-width: 2400px){
        box-shadow:
                0 0 20px $ColorFaceName,0 0 20px $ColorFaceName,
                inset 0 0 20px $ColorFaceName,inset 0 0 20px $ColorFaceName,
                0 0 25px white,0 0 25px white,
                inset 0 0 25px white, inset 0 0 25px white;
    }
    @media screen and (min-width: 3400px){
        box-shadow:
                0 0 20px $ColorFaceName,0 0 20px $ColorFaceName,
                inset 0 0 20px $ColorFaceName,inset 0 0 20px $ColorFaceName,
                0 0 25px white,0 0 25px white,
                inset 0 0 25px white, inset 0 0 25px white;
    }
}

//#386a82

.wrapper{
    position: relative;
    overflow-x: hidden;
}



