@import "./../components/AllColor/AllColor";
@font-face {
    font-family: VerminVibes2soft;
    src: url("../Fonts/VerminVibes2soft.otf") format("truetype");
}
.footer{
    flex-wrap: wrap;
    background-color: $BgFooterColor;
    box-shadow: inset 0px -20px 20px  10px rgb(15,30,41);

    .footer_container{
        padding: 40px;
        @media screen and (min-width: 350px){
            padding: 20px;
        }
        .copyright{
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (min-width: 1000px){
                margin-bottom: -20px;
            }

            .footer_copy{
                color:$ColorAutograph;
                padding-left: 30px;
                font-family: VerminVibes2soft;
                @media screen and (min-width: 2400px){
                    font-size: 25px;
                }
                @media screen and (min-width: 3400px){
                    font-size: 35px;
                }
            }
        }
    }
    .footer_container img{
        padding: 10px;
        width: 60px;
        transition: 0.5s;
        @media screen and (min-width: 750px){
            padding: 10px;
            width: 80px;

        }
        @media screen and (min-width: 1000px){
            padding: 20px;
            width: 80px;
        }
        @media screen and (min-width: 1400px){
            margin-left: 20px;
            padding: 20px;
            width: 100px;
        }
        @media screen and (min-width: 2400px){
            padding: 20px;
            width: 120px;
        }
        @media screen and (min-width: 3400px){
            padding: 20px;
            width: 180px;
        }
        &:hover{
            margin-bottom: 10px;
            margin-top: -10px;

        }
    }
}



