.footer{
    flex-wrap: wrap;
    background-color: yellow;

}
.footer_container{

}
.footer_container img{
    padding: 10px;
    width: 60px;

}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}